@model CourseManagement.Models.User;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var listStudents = ViewBag.Students;
    var listCourses = ViewBag.Courses;
    var listUsers = ViewBag.Users;
	var listAdmins = ViewBag.Admins;
}


<div class="card">
    <div class=" border-0 p-3">
        <div>
            <h1>Welcome to Home Tutor Website</h1>
            <h2 class="heading mb-0">Hello Admin @Model.teacherName, have a great day!</h2>
            <p>Today is: @DateTime.Now.ToString("dddd, MMMM dd, yyyy")</p>
        </div>
    </div>

    <div class="card-body">
        <div class="row align-items-start">
            <div class="col-md-4">
                <div class="teacher-profile" style="padding: 20px;">
                    <h2 class="text-center" style="margin-top: 20px; margin-bottom: 10px;">Teacher's Profile</h2>
                    <div class=" justify-content-center">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <img src="@Model.avatar" alt="Profile picture"
                                 class="img-thumbnail" style="width: 250px; height: 250px; object-fit: cover; margin-bottom: 20px;">
                            <div style="display: flex;">
                                <button class="btn btn-warning fw-bold text-white" data-bs-toggle="modal" data-bs-target="#uploadAvatarModal" style="margin-right: 20px;">
                                    Change Avatar  <i class="fa-solid fa-image"></i>
                                </button>
                                <button class="btn btn-warning fw-bold text-white" data-bs-toggle="modal" data-bs-target="#EditModal_@Model.teacherId" style="margin-right: 20px;">
                                    Edit Profile  <i class="fa-solid fa-user-gear"></i>
                                </button>
                                <button class="btn btn-warning fw-bold text-white" data-bs-toggle="modal" data-bs-target="#ChangePassword_@Model.teacherId">
                                    Change Password  <i class="fa-solid fa-lock"></i>
                                </button>
                            </div>

                            <div class="modal fade" id="uploadAvatarModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form asp-controller="Admin" asp-action="UploadAvatar" asp-route-id="@Model.teacherId" method="post" enctype="multipart/form-data">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Upload Avatar</h5>
                                                <button type="button" class="btn-close fw-bold" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label class="form-label">Choose Image</label>
                                                    <input type="file" class="form-control" name="avatar" accept="image/*" required />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-warning fw-bold">Upload</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="EditModal_@Model.teacherId">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form asp-controller="Admin" asp-action="EditProfile" asp-route-id="@Model.teacherId" method="post" enctype="multipart/form-data">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Profile</h5>
                                                <button type="button" class="btn-close fw-bold" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3 input-group">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                    <input type="text" class="form-control" name="teacherName" asp-for="@Model.teacherName" placeholder="Full Name" required />
                                                </div>
                                                <div class="mb-3 input-group">
                                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                    <input type="email" class="form-control" name="email" asp-for="@Model.email" placeholder="Email" required />
                                                </div>
                                                <div class="mb-3 input-group">
                                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                    <input type="text" class="form-control" name="phoneNumber" asp-for="@Model.phoneNumber" name="phoneNumber" placeholder="Phone Number" maxlength="10" pattern="[0-9]{10}" required />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-warning fw-bold">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="ChangePassword_@Model.teacherId">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form asp-controller="Admin" asp-action="ChangePassword" asp-route-id="@Model.teacherId" method="post" enctype="multipart/form-data">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Change Password</h5>
                                                <button type="button" class="btn-close fw-bold" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3 input-group">
                                                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                                    <input type="text" class="form-control" name="oldPass" placeholder="Old Password" required />
                                                </div>
                                                <div class="mb-3 input-group">
                                                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                                    <input type="text" class="form-control" name="newPass" placeholder="New Password" required />
                                                </div>
                                                <div class="mb-3 input-group">
                                                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                                    <input type="text" class="form-control" name="confirmNewPass" placeholder="Confirm New Password" required />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-warning fw-bold">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-3 text-center">
                            <h5 style="margin-bottom: 10px;"><strong>Teacher Name:</strong> @Model.teacherName</h5>
                            <h5 style="margin-bottom: 10px;"><strong>Email:</strong> @Model.email</h5>
                            <h5 style="margin-bottom: 10px;"><strong>Phone Number:</strong> @Model.phoneNumber</h5>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Top Student Table -->
            <div class="col-md-8">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col text-center">
                            <a asp-action="StudentList" asp-controller="Admin">
                                <div class="teacher-profile">
                                    <h4 style="margin: 30px; color: black"><i class="fa-solid fa-user-group text-secondary" style="color: black !important;"></i> Total Students</h4>
                                 <p class="fs-2 fw-bold " style="margin-bottom: 30px;color: black">@listStudents.Count</p>
                                </div>
                            </a>
                        </div>
                        <div class="col text-center">
                            <a asp-action="CourseList" asp-controller="Admin">
                            <div class=" teacher-profile">
                                    <h4 style="margin: 30px; color: black"><i class="fa-solid fa-layer-group text-secondary" style="color: black !important;"></i> Total Course</h4>
                                    <p class="fs-2 fw-bold" style="margin-bottom: 30px;color: black">@listCourses.Count</p>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="row">
                        <div class="col text-center">
                            <a asp-action="UserList" asp-controller="Admin">
                                <div class=" teacher-profile">
                                    <h4 style="margin: 30px; color: black"><i class="fa-solid fa-user-tie" style="color: black !important;"></i> Total Admin</h4>
                                    <p class="fs-2 fw-bold" style="margin-bottom: 30px;color: black">@listAdmins.Count</p>
                                </div>
                            </a>
                        </div>
                        <div class="col text-center">
                            <a asp-action="UserList" asp-controller="Admin">
                            <div class=" teacher-profile">
                                    <h4 style="margin: 30px; color: black"><i class="fa-solid fa-users" style="color: black !important;"></i> Total Users</h4>
                                    <p class="fs-2 fw-bold" style="margin-bottom: 30px;color: black">@listUsers.Count</p>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Toast Notifications -->
@* <div class="position-fixed end-0 p-3" style="z-index: 1055; top: 60px;"> *@
@*     @if (!string.IsNullOrEmpty(message)) *@
@*     { *@
@*         <div class="toast align-items-center text-white bg-success border-0 show" role="alert"> *@
@*             <div class="d-flex"> *@
@*                 <div class="toast-body">@message</div> *@
@*                 <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button> *@
@*             </div> *@
@*         </div> *@
@*     } *@
@*     @if (!string.IsNullOrEmpty(error)) *@
@*     { *@
@*         <div class="toast align-items-center text-white bg-danger border-0 show" role="alert"> *@
@*             <div class="d-flex"> *@
@*                 <div class="toast-body">@error</div> *@
@*                 <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button> *@
@*             </div> *@
@*         </div> *@
@*     } *@
@* </div> *@
