@model CourseManagement.Models.User;
@{
    ViewData["PageName"] = "Dash Board";
    var listStudents = ViewBag.Students;
    var listCourses = ViewBag.Courses;
    var listEnrollment = ViewBag.Enrollments;
}


<div class="card">
    <div class=" border-0 p-3">
        <div>
            <h1 class="fw-bold text-primary">Welcome to Home Tutor Website</h1>
            <h2 class="heading mb-0 text-secondary">Hello <strong>@Model.teacherName</strong>, have a great day!</h2>
            <p>Today is: @DateTime.Now.ToString("dddd, MMMM dd, yyyy")</p>
        </div>
    </div>

    <div class="card-body">
        <div class="row align-items-start">
            <div class="col-md-4">
                <div class="teacher-profile" style="padding: 20px;">
                    <h2 class="text-center table-title" style="margin-top: 20px; margin-bottom: 10px;">Teacher's Profile</h2>
                    <div class=" justify-content-center">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <img src="@Model.avatar" alt="Profile picture"
                                 class="img-thumbnail" style="width: 250px; height: 250px; object-fit: cover; margin-bottom: 20px;">
                            <div style="display: flex;">
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadAvatarModal" style="margin-right: 20px;">
                                    <i class="fa-solid fa-image"></i>
                                </button>
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal_@Model.teacherId">
                                    <i class="fa-solid fa-user-gear"></i>
                                </button>
                            </div>

                            <div class="modal fade" id="uploadAvatarModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form asp-controller="Home" asp-action="UploadAvatar" asp-route-id="@Model.teacherId" method="post" enctype="multipart/form-data">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Upload Avatar</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label class="form-label">Choose Image</label>
                                                    <input type="file" class="form-control" name="avatar" accept="image/*" required />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Upload</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="EditModal_@Model.teacherId">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form asp-controller="Home" asp-action="EditProfile" asp-route-id="@Model.teacherId" method="post" enctype="multipart/form-data">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Profile</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3 input-group">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                    <input type="text" class="form-control" name="teacherName" asp-for="@Model.teacherName" placeholder="Full Name" required />
                                                </div>
                                                <div class="mb-3 input-group">
                                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                    <input type="email" class="form-control" name="email" asp-for="@Model.email" placeholder="Email" required />
                                                </div>
                                                <div class="mb-3 input-group">
                                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                    <input type="text" class="form-control" name="phoneNumber" asp-for="@Model.phoneNumber" name="phoneNumber" placeholder="Phone Number" maxlength="10" pattern="[0-9]{10}" required />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-3 text-secondary">
                            <h5 style="margin-bottom: 10px;"><strong>Teacher Name:</strong> @Model.teacherName</h5>
                            <h5 style="margin-bottom: 10px;"><strong>Email:</strong> @Model.email</h5>
                            <h5 style="margin-bottom: 10px;"><strong>Phone Number:</strong> @Model.phoneNumber</h5>
                        </div>
                    </div>

                    <div class="text-center border-top mt-3 pt-3 text-secondary">
                        <div class="row">
                            <div class="col subcard m-1">
                                <h4><strong><i class="fa-solid fa-user-group text-secondary"></i> Students</strong></h4>
                                <p class="text-white fw-bold" style="font-size: x-large;">@listStudents.Count</p>
                            </div>
                            <div class="col subcard m-1">
                                <h4><strong><i class="fa-solid fa-layer-group text-secondary"></i> Courses</strong></h4>
                                <p class="text-white fw-bold" style="font-size: x-large;">@listCourses.Count</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Top Student Table -->
            <div class="col-md-8">
                <div class="col-md-12">
                    <div class="teacher-profile p-2">
                        <h3 class="table-title">Student Leaderboard</h3>
                        <div class="">
                            <table class="table showlist table-bordered">
                                <thead>
                                    <tr class=" ">
                                        <th class="text-primary bg-secondary">No.</th>
                                        <th class="text-primary bg-secondary">Student Name</th>
                                        <th class="text-primary bg-secondary">Final Score</th>
                                        <th class="text-primary bg-secondary">Course</th>
                                        <th class="text-primary bg-secondary">Performance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var row = 0;
                                    }
                                    @foreach (var enrollment in (IEnumerable<CourseManagement.Models.Enrollment>)ViewBag.Top10)
                                    {
                                        var finalScore = enrollment.FinalScore ?? 0.0;
                                        Console.WriteLine($"DEBUG: Score = {finalScore} ({finalScore.GetType()})");

                                        string badgeClass = enrollment.Performance switch
                                        {
                                            'A' => "bg-success",
                                            'B' => "bg-info",
                                            'C' => "bg-warning",
                                            'D' => "bg-danger",
                                            _ => "bg-dark"
                                        };

                                        string rankClass = row < 3 ? $"rank{row + 1}" : "";

                                        <tr class=" rank @rankClass">
                                            <td class="text-sencondary">@(row + 1)</td>
                                            <td class="text-sencondary">@enrollment.Student.studentName</td>
                                            <td class="text-sencondary">@(enrollment.FinalScore?.ToString("N2") ?? "N/A")</td>
                                            <td class="text-sencondary">@enrollment.Course.courseName</td>
                                            <td class="text-sencondary"><p class="badge @badgeClass">@enrollment.Performance</p></td>
                                        </tr>

                                        row++;
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <!-- Income Overview -->
                <div class="col-md-12">
                    <h3 class="p-2 @(0 > 0 ? "bg-success" : "bg-danger")">Income Overview</h3>
                    <div class="table-responsive">
                        <table class="table table-dark table-bordered">
                            <thead class="bg-info-subtle">
                                <tr>
                                    <th>Course ID</th>
                                    <th>Course Name</th>
                                    <th>Revenues</th>
                                    <th>Expenses</th>
                                    <th>Net Income</th>
                                </tr>
                            </thead>
                            <tbody>
                                @* @foreach (var course in listCourses)
                                @* {
                                @*     <tr class="@(course.netIncome >= 0 ? "profit" : "loss")"> *@
                                @*         <td>@course.courseId</td> *@
                                @*         <td>@course.courseName</td> *@
                                @*         <td class="text-profit">+@course.TotalRevenues.ToString("N0") VND</td> *@
                                @*         <td class="text-loss">-@course.TotalExpenses.ToString("N0") VND</td> *@
                                @*         <td class="@(course.NetIncome >= 0 ? "text-profit" : "text-loss")">@course.NetIncome.ToString("N0") VND</td> *@
                                @*     </tr> *@
                                @* } *@
                                @* <tr class="table-active"> *@
                                @*     <td><strong>Total</strong></td> *@
                                @*     <td><strong>@listCourses.Count</strong></td> *@
                                @*     <td class="text-profit"><strong>+@totalRevenues.ToString("N0") VND</strong></td> *@
                                @*     <td class="text-loss"><strong>-@totalExpenses.ToString("N0") VND</strong></td> *@
                                @*     <td class="@(totalNetIncome >= 0 ? "text-profit" : "text-loss")"> *@
                                @*         <strong>@totalNetIncome.ToString("N0") VND</strong> *@
                                @*     </td> *@
                                @* </tr> *@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



