@model CourseManagement.Models.User;
@{
    ViewData["PageName"] = "Dash Board";
    var listStudents = ViewBag.Students;
    var listCourses = ViewBag.Courses;
    var listEnrollment = ViewBag.Enrollments;
}


<div class="card">
    <div class=" border-0 p-3">
        <div>
            <h1>Welcome to Home Tutor Website</h1>
            <h2 class="heading mb-0">Hello @Model.teacherName, have a great day!</h2>
            <p>Today is: @DateTime.Now.ToString("dddd, MMMM dd, yyyy")</p>
        </div>
    </div>

    <div class="card-body">
        <div class="row align-items-start">
            <div class="col-md-4">
                <div class="teacher-profile" style="padding: 20px;">
                    <h2 class="text-center" style="margin-top: 20px; margin-bottom: 10px;">Teacher's Profile</h2>
                    <div class=" justify-content-center">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <img src="@Model.avatar" alt="Profile picture"
                            class="img-thumbnail" style="width: 250px; height: 250px; object-fit: cover; margin-bottom: 20px;">
                            <div style="display: flex;">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadAvatarModal" style="margin-right: 20px;">
                                Change Avatar
                            </button>
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal_@Model.teacherId">
                                Edit Profile
                            </button>
                            </div>

                            <div class="modal fade" id="uploadAvatarModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form asp-controller="Home" asp-action="UploadAvatar" asp-route-id="@Model.teacherId" method="post" enctype="multipart/form-data">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Upload Avatar</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label class="form-label">Choose Image</label>
                                                    <input type="file" class="form-control" name="avatar" accept="image/*" required />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Upload</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="EditModal_@Model.teacherId">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form asp-controller="Home" asp-action="EditProfile" asp-route-id="@Model.teacherId" method="post" enctype="multipart/form-data">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Profile</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3 input-group">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                    <input type="text" class="form-control" name="teacherName" asp-for="@Model.teacherName" placeholder="Full Name" required />
                                                </div>
                                                <div class="mb-3 input-group">
                                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                    <input type="email" class="form-control" name="email" asp-for="@Model.email" placeholder="Email" required />
                                                </div>
                                                <div class="mb-3 input-group">
                                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                    <input type="text" class="form-control" name="phoneNumber" asp-for="@Model.phoneNumber" name="phoneNumber" placeholder="Phone Number" maxlength="10" pattern="[0-9]{10}" required />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-3 text-center">
                            <h5 style="margin-bottom: 10px;"><strong>Teacher Name:</strong> @Model.teacherName</h5>
                            <h5 style="margin-bottom: 10px;"><strong>Email:</strong> @Model.email</h5>
                            <h5 style="margin-bottom: 10px;"><strong>Phone Number:</strong> @Model.phoneNumber</h5>
                        </div>
                    </div>

                    <div class="text-center border-top mt-3 pt-3">
                        <div class="row">
                            <div class="col">
                                <h4>Total Students</h4>
                                <p style="font-size: x-large;">@listStudents.Count</p>
                            </div>
                            <div class="col">
                                <h4>Total Courses</h4>
                                <p style="font-size: x-large;">@listCourses.Count</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Top Student Table -->
            <div class="col-md-8">
                <div class="col-md-12">
                    <h3 class=" p-2 text-white" style="background-color:#1D4ED8 !important;">Top Student</h3>
                    <div class="table-responsive">
                        <table class="table showlist table-bordered">
                            <thead class="bg-info-subtle" style="background-color: #F3F4F6">
                                <tr>
                                    <th>No.</th>
                                    <th>Student Name</th>
                                    <th>Final Score</th>
                                    <th>Course</th>
                                    <th>Performance</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var row = 0;
                                }
                                @foreach (var enrollment in listEnrollment)
                                {
                                    
                                    var rankClass = row == 1 ? "rank1" : row == 2 ? "rank2" : row == 3 ? "rank3" : "";

                                    if (enrollment != null && enrollment.Student != null && enrollment.Course != null && enrollment.FinalScore != null && enrollment.FinalScore != 0)
                                    {
                                        row++;
                                        <tr class="@rankClass">
                                            <td>@row</td>
                                            <td>@enrollment.Student.studentName</td>
                                            <td>
                                                @{
                                                    var score = enrollment?.FinalScore;
                                                    var badgeClass = score == null ? "bg-secondary" :
                                                    score >= 8 ? "bg-success" :
                                                    score >= 6.5 ? "bg-info" :
                                                    score >= 5 ? "bg-warning" :
                                                    score >= 3.5 ? "bg-danger" : "bg-dark";
                                                }
                                                <span class="badge @badgeClass">@score?.ToString("0.##")</span>
                                            </td>
                                            <td>@enrollment.Course.courseName</td>
                                            <td>
                                                @{
                                                    var perf = enrollment.Performance;
                                                    var perfClass = perf == 'A' ? "bg-success" :
                                                    perf == 'B' ? "bg-info" :
                                                    perf == 'C' ? "bg-warning" :
                                                    perf == 'D' ? "bg-danger" : "bg-dark";
                                                }
                                                <span class="badge @perfClass">@enrollment.Performance</span>
                                            </td>
                                        </tr>
                                    }
                                }
                                @for (; row < 5;)
                                {
                                    row++;
                                    var rankClass = row == 1 ? "rank1" : row == 2 ? "rank2" : row == 3 ? "rank3" : "";
                                    
                                    <tr class="@rankClass">
                                        <td>@row</td>
                                        <td colspan="4" class="text-center">#</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Income Overview -->
                <div class="col-md-12">
                    <h3 class="p-2 @(0 > 0 ? "bg-success" : "bg-danger")">Income Overview</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-info-subtle">
                                <tr>
                                    <th>Course ID</th>
                                    <th>Course Name</th>
                                    <th>Revenues</th>
                                    <th>Expenses</th>
                                    <th>Net Income</th>
                                </tr>
                            </thead>
                            <tbody>
                                @* @foreach (var course in listCourses)
                                @* {
                                @*     <tr class="@(course.netIncome >= 0 ? "profit" : "loss")"> *@
                                @*         <td>@course.courseId</td> *@
                                @*         <td>@course.courseName</td> *@
                                @*         <td class="text-profit">+@course.TotalRevenues.ToString("N0") VND</td> *@
                                @*         <td class="text-loss">-@course.TotalExpenses.ToString("N0") VND</td> *@
                                @*         <td class="@(course.NetIncome >= 0 ? "text-profit" : "text-loss")">@course.NetIncome.ToString("N0") VND</td> *@
                                @*     </tr> *@
                                @* } *@
                                @* <tr class="table-active"> *@
                                @*     <td><strong>Total</strong></td> *@
                                @*     <td><strong>@listCourses.Count</strong></td> *@
                                @*     <td class="text-profit"><strong>+@totalRevenues.ToString("N0") VND</strong></td> *@
                                @*     <td class="text-loss"><strong>-@totalExpenses.ToString("N0") VND</strong></td> *@
                                @*     <td class="@(totalNetIncome >= 0 ? "text-profit" : "text-loss")"> *@
                                @*         <strong>@totalNetIncome.ToString("N0") VND</strong> *@
                                @*     </td> *@
                                @* </tr> *@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


