@model List<CourseManagement.Models.Course>;
@{
    ViewData["PageName"] = "Course List";
}

<div class="card">
    <div class=" border-0 p-3 d-flex justify-content-between align-items-center">
        <h4 class="heading mb-0">Course List</h4>

    </div>

    <div class="card-body p-0">
        <div class="container-fluid">
            <div class="row">
                @foreach (var course in Model)
                {
                    <div class="col-md-3 mb-3">
                        <div class=" coursecard p-2">
                            <h5 class="card-title table-title">@course.courseName</h5>
                            <h6 class="card-subtitle mb-2 fw-bold text-secondary">
                                @course.courseSubject | @course.courseCode
                            </h6>
                            <div class="d-flex gap-2">
                                <a class="btn btn-primary fw-bold btn-sm flex-fill text-center"
                                   asp-controller="Course"
                                   asp-action="ViewStudents"
                                   asp-route-id="@course.courseId">
                                    View Students (@course.enrollments.Count)
                                </a>
                                <a class="btn btn-secondary fw-bold btn-sm flex-fill text-center"
                                   asp-controller="Course"
                                   asp-action="Financial"
                                   asp-route-id="@course.courseId">
                                    View Financial (0)
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>